@import 'reset';
@import '../../bower_components/susy/sass/susy';

// susydocs.oddbird.net
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@font-face {
  font-family: 'bebasregular';
  src: url('../fonts/BEBAS___-webfont.eot');
  src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BEBAS___-webfont.woff') format('woff'),
       url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
       url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'GothamBook-Regular';
  src: url('../fonts/GothamBook_gdi.eot');
  src: url('../fonts/GothamBook_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamBook_gdi.woff') format('woff'),
    url('../fonts/GothamBook_gdi.ttf') format('truetype'),
    url('../fonts/GothamBook_gdi.svg#GothamBook-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
  right: 0;
  font-size: 16px;

  &.nav-open {
    right: 240px;
  }
}

body,
nav {
  transition: all 0.3s ease;
}

header {
  background-color: #fff;
  padding: 25px 80px;
  height: 153px;
  font-family: 'bebasregular';

  @media all and (min-width: $bp-small-3) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  h1 {
    display: inline;

    a {
      display: inline-block;
      max-width: 100px;
    }
  }

  a {
    color: #000;

    &:hover {
      color: rgba(26, 26, 26, 0.7);
    }
  }

  > span {
    display: none;
    font-size: 1.5rem;
    margin-top: 30px;
  }

  @media all and (max-width: $bp-small-3) {    
    > span {
      float: right;
      display: block;
    }
  }
}

nav {

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      padding: 10px;
      font-size: 0.875rem;
    }
  }

  @media all and (max-width: $bp-small-3) {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    right: -240px;
    background-color: rgba(255, 255, 255, 0.5);

    li {
      border-bottom: solid 1px rgba(0, 0, 0, 0.25);
      transition: background 0.3s ease;
      line-height: 1.5rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  @media all and (min-width: 39.9em) {
    float: right;
    margin-top: 30px;

    ul {
      @include clearfix();

      li {
        float: left;
      }
    }
  }
}

.nav-open {
  nav {
    right: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'bebasregular';
  letter-spacing: 1px;
  margin: 0;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 0.9rem;
}

hr {
  margin: 17px 0;
  @include span(12);
}

p {
  font-family: "GothamBook-Regular";
  font-size: 0.875rem;
}

footer {
  padding: 50px 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container {
  background-color: #fff;
  @include span(12);
}

.txt-center {
  text-align: center;
}

.m-b-34px {
  margin-bottom: 34px;
}

.col-left {
  @include span(12);
  padding: 0 20px;
}

.col-right {
  @include span(12);
  padding: 0 20px;
}

@include susy-breakpoint($bp-small-3) {
  .col-left {
    @include span(6);
  }

  .col-right {
    @include span(6 last);
  }
}

footer {
  @include span(12);
}

.social {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 2.25rem;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.75;
  }
}

// homepage
.cover {
  background: url(../img/background.jpg) no-repeat center center;
  background-size: 100%;
  height: 400px;

  @media all and (max-width: $bp-small-3) { 
    display: none;
  }
}

.product {
  padding-top: 20px;

  h2 {
    margin-bottom: 25px;
  }

  .col-left {
    text-align: center;

    @include susy-breakpoint($bp-small-3) {
      img {
        float: right;
      }
    }
  }
  .col-right {
    @include susy-breakpoint($bp-small-3) {
      padding: 100px 20px 20px;

      ul {
        padding-left: 0;

        li {
          margin-bottom: 25px;
        }
      }
    }
  }
}

// about us
.about {
  @media all and (min-width: $bp-small-3) {
    margin-top: 200px;
  }

  .col-left {
    text-align: center;
  }

  .col-right {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 65px;
  }
}

// stockists
.stockists {
  padding: 40px;

  @media all and (min-width: $bp-small-3) {
    margin-top: 200px;
  }

  .col-left, .col-mid, .col-right {
    @include span(12);
  }

  @include susy-breakpoint($bp-small-3) {
    .col-left,
    .col-mid {
      @include span(4);
    }

    .col-right {
      @include span(4 last);
    }
  }
}

// contact us
.contact {
  line-height: 1.5rem;

  @media all and (min-width: $bp-small-3) {
    margin-top: 200px;
  }

  .col-left,
  .col-right {
    padding-top: 60px;
  }

  .span-4 {
    @include span(4);
  }

  .span-8 {
    @include span(8 last);
  }
}