@import 'reset';

$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-xl : 60em;
$bp-xl-2 : 67em;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #ccc;
  overflow-x: hidden;
  position: relative;
  right: 0;

  &.nav-open {
    right: 240px;
  }
}
body,
nav {
  transition: all 0.3s ease;
}

 nav {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 10;
  position: fixed;
  right: -240px;
}

.nav-open {
  nav {
    right: 0;
  }
}

header {
  h1 {
    display: inline;
  }
  
  > span {
    float: right;
  }
}

