<div ng-controller="allUsersCtrl">
	<div class="search">
		<input ng-model="searchText" name="search" placeholder="Find user">
		<label>
			<select ng-model="orderProp">
				<option value="first_name">First Name</option>
				<option value="last_name">Last Name</option>
			</select>
		</label>
	</div>
	<div ng-repeat="user in users | filter:searchText | orderBy:orderProp track by $index" class="users">
		<div class="card">
			<h2><a ng-href="#/user/{{$index}}"><span class="large-only">Name:</span> {{ user.first_name }} {{ user.last_name }}</a></h2>
			<div class="email"><span class="large-only">Email:</span> <a href="mailto:{{ user.email_address }}">{{ user.email_address }}</a></div>
			<a ng-href="#/user/{{$index}}" ng-click=logger(user) class="btn">View Profile</a>
		</div>
	</div>
</div>